schema/CMSIS-SVD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2013-2022 ARM Limited. All rights reserved.

  SPDX-License-Identifier: Apache-2.0

  Licensed under the Apache License, Version 2.0 (the License); you may
  not use this file except in compliance with the License.
  You may obtain a copy of the License at

  www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an AS IS BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  $Date:         17. April 2024
  $Revision:     2.0.0

  Version 2.0.0:
  - extract peripheral schema from CMSIS-SVD.xsd to CMSIS-PSVD.xsd
  - support conditions

  Version 1.3.10:
  - add CM52 as enumerated value for cpuNameType.

  Version 1.3.9:
  - add CM85 as enumerated value for cpuNameType.

  Version 1.3.8:
  - add SMC1 as enumerated value for cpuNameType.

  Version 1.3.7:
  - add CM55 as enumerated value for cpuNameType.

  Version 1.3.6:
  - add ARMV81MML as enumeration value for cpuNameType.

  Version 1.3.5:
  - add CM35P as enumeration value for cpuNameType.

  Version 1.3.4:
  - add dspPresent element to cpuType as SIMD instructions became optional for new processors.

  Version 1.3.3:
  - update file header to Apache 2.0 License
  - add dimableIdentifierType, as a copy of previous identifierType adding "%s",
  - update identifierType to only allow names without %s included.
  - remove enumerationNameType.
  - add headerEnumName to enumerationType and to dimArrayIndexType for peripheral arrays
    overwriting hierarchically generated names
  - add dimName to dimElementGroup. Only valid in <cluster> context, ignored otherwise.

  Version 1.3.2:
  adding dimIndexArray to peripheral-, cluster- and register-array to describe
  enumeration of array indices.

  Version 1.3.1:
  fixed peripheral name element type to identifierType to support %s for peripheral arrays
  added optional protection element to addressBlockType and added p=privileged

  Version 1.3:
  added dim to peripherals to describe an array of peripherals.
  added nesting of clusters to support hierarchical register structures.
  added protection element as part of the registerPropertiesGroup indicating
  special permissions are required for accessing a register.
  CPU Section extended with description of the Secure Attribution Unit.

  Version 1.2:
  Cortex-M7 support items have been added as optional tags for the device header file generation:
  fpuDP, icachePresent, dcachePresent, itcmPresent, dtcmPresent

  Version 1.1:
  For backward compatibility all additional tags have been made optional.
  Extensions may be mandatory for successful device header file generation
  Other changes are related to some restructuring of the schema.

  Note that the memory section has been removed since this would limit the
  reuse of descriptions for a series of devices.
 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="2.0">

  <xs:include schemaLocation="CMSIS-PSVD.xsd"/>

  <xs:simpleType name="descriptionStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]*" />
    </xs:restriction>
  </xs:simpleType>

  <!-- cpuType specifies a selection of Cortex-M and Secure-Cores. This list will get extended as new processors are released -->
  <xs:simpleType name="cpuNameType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CM0"/>
      <xs:enumeration value="CM0PLUS"/>
      <xs:enumeration value="CM0+"/>
      <xs:enumeration value="CM1"/>
      <xs:enumeration value="CM3"/>
      <xs:enumeration value="CM4"/>
      <xs:enumeration value="CM7"/>
      <xs:enumeration value="CM23"/>
      <xs:enumeration value="CM33"/>
      <xs:enumeration value="CM35P"/>
      <xs:enumeration value="CM52"/>
      <xs:enumeration value="CM55"/>
      <xs:enumeration value="CM85"/>
      <xs:enumeration value="SC000"/>
      <xs:enumeration value="SC300"/>
      <xs:enumeration value="ARMV8MML"/>
      <xs:enumeration value="ARMV8MBL"/>
      <xs:enumeration value="ARMV81MML"/>
      <xs:enumeration value="CA5"/>
      <xs:enumeration value="CA7"/>
      <xs:enumeration value="CA8"/>
      <xs:enumeration value="CA9"/>
      <xs:enumeration value="CA15"/>
      <xs:enumeration value="CA17"/>
      <xs:enumeration value="CA53"/>
      <xs:enumeration value="CA57"/>
      <xs:enumeration value="CA72"/>
      <xs:enumeration value="SMC1"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- revisionType specifies the CPU revision format as defined by ARM (rNpM) -->
  <xs:simpleType name="revisionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="r[0-9]*p[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- EndianType pre-defines the tokens for specifying the endianess of the device -->
  <xs:simpleType name="endianType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="little"/>
      <xs:enumeration value="big"/>
      <xs:enumeration value="selectable"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- V1.3: SAU Access Type -->
  <xs:simpleType name="sauAccessType">
    <xs:restriction base="xs:string">
      <!-- c = non-secure Callable / Secure -->
      <!-- n = Non-secure                   -->
      <xs:pattern value="[cn]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cpuType">
    <xs:sequence>
      <!-- V1.1: ARM processor name: Cortex-Mx / SCxxx -->
      <xs:element name="name" type="cpuNameType"/>
      <!-- V1.1: ARM defined revision of the cpu -->
      <xs:element name="revision" type="revisionType"/>
      <!-- V1.1: Endian specifies the endianess of the processor/device -->
      <xs:element name="endian" type="endianType"/>
      <!-- V1.1: mpuPresent specifies whether or not a memory protection unit is physically present -->
      <xs:element name="mpuPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.1: fpuPresent specifies whether or not a floating point hardware unit is physically present -->
      <xs:element name="fpuPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: fpuDP specifies a double precision floating point hardware unit is physically present-->
      <xs:element name="fpuDP" type="xs:boolean" minOccurs="0"/>
      <!-- V1.3: dspPresent specifies whether the optional SIMD instructions are supported by processor -->
      <xs:element name="dspPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: icachePresent specifies that an instruction cache is physically present-->
      <xs:element name="icachePresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: dcachePresent specifies that a data cache is physically present-->
      <xs:element name="dcachePresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: itcmPresent specifies that an instruction tightly coupled memory is physically present-->
      <xs:element name="itcmPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: dtcmPresent specifies that an data tightly coupled memory is physically present-->
      <xs:element name="dtcmPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.1: vtorPresent is used for Cortex-M0+ based devices only. It indicates whether the Vector -->
      <!--       Table Offset Register is implemented in the device or not                              -->
      <xs:element name="vtorPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.1: nvicPrioBits specifies the number of bits used by the Nested Vectored Interrupt Controller -->
      <!--       for defining the priority level = # priority levels                                        -->
      <xs:element name="nvicPrioBits" type="scaledNonNegativeInteger"/>
      <!-- V1.1: vendorSystickConfig is set true if a custom system timer is implemented in the device -->
      <!--       instead of the ARM specified SysTickTimer                                             -->
      <xs:element name="vendorSystickConfig" type="xs:boolean"/>
      <!-- V1.3: reports the total number of interrupts implemented by the device (optional) -->
      <xs:element name="deviceNumInterrupts" type="scaledNonNegativeInteger" minOccurs="0"/>
      <!-- V1.3: sauRegions specifies the available number of address regions -->
      <!--       if not specified a value of zero is assumed                  -->
      <xs:element name="sauNumRegions" type="scaledNonNegativeInteger" minOccurs="0"/>
      <!-- V1.3: SAU Regions Configuration (if fully or partially predefined) -->
      <xs:element name="sauRegionsConfig" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="region" minOccurs="0" maxOccurs="unbounded">
              <!-- addressBlockType specifies the elements to describe an address block -->
              <xs:complexType>
                <xs:sequence minOccurs="1"   maxOccurs="unbounded">
                  <xs:element name="base"    type="scaledNonNegativeInteger"/>
                  <xs:element name="limit"   type="scaledNonNegativeInteger"/>
                  <xs:element name="access"  type="sauAccessType"/>
                </xs:sequence>
                <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="name"    type="xs:string"  use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
          <xs:attribute name="protectionWhenDisabled" type="protectionStringType" use="optional" default="s"/>
        </xs:complexType>
      </xs:element>
     </xs:sequence>
  </xs:complexType>

  <!-- Registered Device Vendors -->
  <xs:simpleType name="DeviceVendorEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="NO_VENDOR:0" />
      <xs:enumeration value="3PEAK:177" />
      <xs:enumeration value="ABOV Semiconductor:126" />
      <xs:enumeration value="Actel:56" />
      <xs:enumeration value="Active-Semi:140" />
      <xs:enumeration value="Alif Semiconductor:165" />
      <xs:enumeration value="Altera:85" />
      <xs:enumeration value="Altium:65" />
      <xs:enumeration value="Ambiq Micro:120" />
      <xs:enumeration value="Amiccom:147" />
      <xs:enumeration value="Analog Devices:1" />
      <xs:enumeration value="APEXMIC:153" />
      <xs:enumeration value="ARM:82" />
      <xs:enumeration value="ARM CMSIS:109" />
      <xs:enumeration value="ArmChina:160" />
      <xs:enumeration value="ArteryTek:143" />
      <xs:enumeration value="Atmel:3" />
      <xs:enumeration value="AutoChips:150" />
      <xs:enumeration value="BOYAMICRO:168" />
      <xs:enumeration value="BrainChip:168" />
      <xs:enumeration value="Cmsemicon:161" />
      <xs:enumeration value="CSR:118" />
      <xs:enumeration value="Cypress:19" />
      <xs:enumeration value="Dialog Semiconductor:113" />
      <xs:enumeration value="Dolphin:57" />
      <xs:enumeration value="Domosys:26" />
      <xs:enumeration value="ELAN:162" />
      <xs:enumeration value="Elmos:138" />
      <xs:enumeration value="Ember:98" />
      <xs:enumeration value="Energy Micro:97" />
      <xs:enumeration value="EnOcean:91" />
      <xs:enumeration value="e-peas:167" />
      <xs:enumeration value="EtaCompute:157" />
      <xs:enumeration value="Evatronix:64" />
      <xs:enumeration value="FMD:169" />
      <xs:enumeration value="FMSH:159" />
      <xs:enumeration value="Geehy:163" />
      <xs:enumeration value="Generic:5" />
      <xs:enumeration value="Generalplus:151" />
      <xs:enumeration value="GigaDevice:123" />
      <xs:enumeration value="Goodix:155" />
      <xs:enumeration value="HDSC:145" />
      <xs:enumeration value="Hilscher:88" />
      <xs:enumeration value="Himax:178" />
      <xs:enumeration value="Holtek:106" />
      <xs:enumeration value="Hynix Semiconductor:6" />
      <xs:enumeration value="Hyundai:35" />
      <xs:enumeration value="Infineon:7" />
      <xs:enumeration value="Jonzic:174" />
      <xs:enumeration value="Kionix:127" />
      <xs:enumeration value="LAPIS Technology:10" />
      <xs:enumeration value="Lapis Semiconductor:10" />
      <xs:enumeration value="Linear Technology:136" />
      <xs:enumeration value="Linkedsemi:175" />
      <xs:enumeration value="Luminary Micro:76" />
      <xs:enumeration value="Maxim:23" />
      <xs:enumeration value="MediaTek:129" />
      <xs:enumeration value="MegaChips:128" />
      <xs:enumeration value="Megawin:70" />
      <xs:enumeration value="Mentor Graphics Co.:24" />
      <xs:enumeration value="Microchip:3" />
      <xs:enumeration value="Micronas:30" />
      <xs:enumeration value="Microsemi:112" />
      <xs:enumeration value="Milandr:99" />
      <xs:enumeration value="MindMotion:132" />
      <xs:enumeration value="MinebeaMitsumi:181" />
      <xs:enumeration value="NetSilicon:67" />
      <xs:enumeration value="Nordic Semiconductor:54" />
      <xs:enumeration value="Nuvoton:18" />
      <xs:enumeration value="NXP:11" />
      <xs:enumeration value="OKI SEMICONDUCTOR CO.,LTD.:108" />
      <xs:enumeration value="onsemi:141" />
      <xs:enumeration value="Panasonic:131" />
      <xs:enumeration value="Puya:176" />
      <xs:enumeration value="Realtek Semiconductor:124" />
      <xs:enumeration value="Redpine Signals:125" />
      <xs:enumeration value="RelChip:146" />
      <xs:enumeration value="Renesas:117" />
      <xs:enumeration value="ROHM:103" />
      <xs:enumeration value="RPi:170" />
      <xs:enumeration value="Samsung:47" />
      <xs:enumeration value="SILAN:164" />
      <xs:enumeration value="Silergy Corp:139" />
      <xs:enumeration value="Silicon Labs:21" />
      <xs:enumeration value="Sinemicro:179" />
      <xs:enumeration value="Sinowealth:149" />
      <xs:enumeration value="SmartChip:156" />
      <xs:enumeration value="SONiX:110" />
      <xs:enumeration value="Socionext:171" />
      <xs:enumeration value="Spansion:100" />
      <xs:enumeration value="STMicroelectronics:13" />
      <xs:enumeration value="Sunrise Micro Devices:121" />
      <xs:enumeration value="Synwit:144" />
      <xs:enumeration value="TI:16" />
      <xs:enumeration value="Texas Instruments:16" />
      <xs:enumeration value="ThinkTech:172" />
      <xs:enumeration value="Toshiba:92" />
      <xs:enumeration value="Triad Semiconductor:104" />
      <xs:enumeration value="Unisoc:152" />
      <xs:enumeration value="Vorago:137" />
      <xs:enumeration value="Watech:183" />
      <xs:enumeration value="Weltrend:148" />
      <xs:enumeration value="WIZnet:122" />
      <xs:enumeration value="Xiamen PengPai Microelectronics Co. Ltd:166" />
      <xs:enumeration value="XMC:158" />
      <xs:enumeration value="YTMicro:180" />
      <xs:enumeration value="Zilog:89" />
      <!-- deprecated: do not use -->
      <xs:enumeration value="Freescale:78" />
      <xs:enumeration value="Freescale Semiconductor:78" />
      <xs:enumeration value="NXP (founded by Philips):11" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Dcore enumeration type -->
  <xs:simpleType name="DcoreEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Star-MC1" />
      <xs:enumeration value="SC000" />
      <xs:enumeration value="SC300" />
      <xs:enumeration value="Cortex-M0" />
      <xs:enumeration value="Cortex-M0+" />
      <xs:enumeration value="Cortex-M1" />
      <xs:enumeration value="Cortex-M23" />
      <xs:enumeration value="Cortex-M3" />
      <xs:enumeration value="Cortex-M33" />
      <xs:enumeration value="Cortex-M35P"/>
      <xs:enumeration value="Cortex-M52"/>
      <xs:enumeration value="Cortex-M55"/>
      <xs:enumeration value="Cortex-M85"/>
      <xs:enumeration value="Cortex-M4" />
      <xs:enumeration value="Cortex-M7" />
      <xs:enumeration value="ARMV8MBL" />
      <xs:enumeration value="ARMV8MML" />
      <xs:enumeration value="ARMV81MML"/>
      <xs:enumeration value="Cortex-R4" />
      <xs:enumeration value="Cortex-R5" />
      <xs:enumeration value="Cortex-R7" />
      <xs:enumeration value="Cortex-R8" />
      <xs:enumeration value="Cortex-A5" />
      <xs:enumeration value="Cortex-A7" />
      <xs:enumeration value="Cortex-A8" />
      <xs:enumeration value="Cortex-A9" />
      <xs:enumeration value="Cortex-A15" />
      <xs:enumeration value="Cortex-A17" />
      <xs:enumeration value="Cortex-A53" />
      <xs:enumeration value="Cortex-A57" />
      <xs:enumeration value="Cortex-A72" />
      <xs:enumeration value="Cortex-A73" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Dfpu enumeration type -->
  <xs:simpleType name="DfpuEnum">
    <xs:restriction base="xs:token">
      <!-- core has no FPU -->
      <xs:enumeration value="NO_FPU" />
      <!-- core has FPU (type of FPU depends on Dcore) -->
      <xs:enumeration value="FPU" />
      <!-- single precision FPU -->
      <xs:enumeration value="SP_FPU" />
      <!-- double precision FPU -->
      <xs:enumeration value="DP_FPU" />
      <!-- deprecated -->
      <xs:enumeration value="0" />
      <!-- no FPU implemented -->
      <xs:enumeration value="1" />
      <!-- FPU implemented -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Dmpu enumeration type -->
  <xs:simpleType name="DmpuEnum">
    <xs:restriction base="xs:token">
      <!-- no MPU -->
      <xs:enumeration value="NO_MPU" />
      <!-- MPU -->
      <xs:enumeration value="MPU" />
      <!-- deprecated -->
      <xs:enumeration value="0" />
      <!-- no MPU implemented -->
      <xs:enumeration value="1" />
      <!-- MPU implemented -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Dtz TrustZone enumeration type -->
  <xs:simpleType name="DtzEnum">
    <xs:restriction base="xs:token">
      <!-- no TZ -->
      <xs:enumeration value="NO_TZ" />
      <!-- TZ -->
      <xs:enumeration value="TZ" />
      <!-- deprecated -->
      <xs:enumeration value="1" />
      <!-- TZ implemented -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Ddsp DSP extensions enumeration type -->
  <xs:simpleType name="DdspEnum">
    <xs:restriction base="xs:token">
      <!-- no DSP -->
      <xs:enumeration value="NO_DSP" />
      <!-- DSP -->
      <xs:enumeration value="DSP" />
      <!-- deprecated: -->
      <xs:enumeration value="1" />
      <!-- DSP instructions implemented -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Dmve extension enumeration type -->
  <xs:simpleType name="DmveEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="NO_MVE"/>
      <xs:enumeration value="MVE"/>
      <xs:enumeration value="FP_MVE"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Dpacbti extension enumeration type -->
  <xs:simpleType name="DpacbtiEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="NO_PACBTI"/>
      <xs:enumeration value="PACBTI"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Dsecure enumeration type -->
  <xs:simpleType name="DsecureEnum">
    <xs:restriction base="xs:token">
      <!-- Non Secure -->
      <xs:enumeration value="Non-secure" />
      <!-- Secure -->
      <xs:enumeration value="Secure" />
      <!-- TZ disabled -->
      <xs:enumeration value="TZ-disabled" />
      <!-- deprecated -->
      <xs:enumeration value="0" />
      <!-- Non-secure -->
      <xs:enumeration value="1" />
      <!-- Secure -->
      <xs:enumeration value="2" />
      <!-- TZ-disabled -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Dendian enumeration type -->
  <xs:simpleType name="DendianEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Little-endian" />
      <xs:enumeration value="Big-endian" />
      <xs:enumeration value="Configurable" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Component Vendor filter -->
  <xs:simpleType name="CvendorFilterType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="32" />
      <xs:pattern value="[A-Za-z0-9\s\?\*]+" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Component Identifier Part Filter Type -->
  <xs:simpleType name="CidPartFilterType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
      <xs:pattern value="[A-Za-z0-9\?\*][A-Za-z0-9_+()'/\-\s\?\*]*" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Component Sub Name Filter Type -->
  <xs:simpleType name="CsubFilterType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="32" />
      <xs:pattern value="[A-Za-z0-9]?[A-Za-z0-9_+():/\-\s\.\?\*]*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <!-- Specifing a version range: minVersion [: maxVersion] -->
  <!-- major.minor.patch[-quality][:major.minor.patch[-quality] -->
  <xs:simpleType name="ConditionVersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+\.[0-9]+\.[0-9]+(\-((0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?)(:[0-9]+\.[0-9]+\.[0-9]+(\-((0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?)?" />
    </xs:restriction>
  </xs:simpleType>

  <!-- compiler toolchain enumeration -->
  <xs:simpleType name="CompilerEnumType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="GCC" />
      <xs:enumeration value="ARMCC" />
      <xs:enumeration value="IAR" />
      <xs:enumeration value="Tasking" />
      <xs:enumeration value="GHS" />
      <xs:enumeration value="Cosmic" />
      <xs:enumeration value="G++"/>
      <!-- Code Sourcery -->
      <xs:enumeration value="XC"/>
      <!-- Microchip MPLAB XC32 -->
      <xs:enumeration value="CLANG"/>
      <xs:enumeration value="Renesas"/>
      <xs:enumeration value="*" />
    </xs:restriction>
  </xs:simpleType>

  <!-- compiler specific options/mode -->
  <xs:simpleType name="CompilerOptionsEnumType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="AC5" />
      <xs:enumeration value="AC6" />
      <xs:enumeration value="AC6LTO" />
    </xs:restriction>
  </xs:simpleType>

  <!-- compiler output enumeration -->
  <xs:simpleType name="CompilerOutputType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="exe" />
      <!-- executable -->
      <xs:enumeration value="lib" />
      <!-- library -->
      <xs:enumeration value="*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FilterType">
    <xs:attribute name="Dfamily" type="xs:string" /> <!-- deprecated as they are too weak for filtering -->
    <xs:attribute name="DsubFamily" type="xs:string" /> <!-- deprecated as they are too weak for filtering -->
    <xs:attribute name="Dvariant" type="xs:string" />
    <xs:attribute name="Dvendor" type="DeviceVendorEnum" />
    <xs:attribute name="Dname" type="xs:string" /> <!-- can contain wildcards ?* in condition -->
    <xs:attribute name="Dcore" type="DcoreEnum" />
    <xs:attribute name="Dfpu" type="DfpuEnum" />
    <xs:attribute name="Dmpu" type="DmpuEnum" />
    <xs:attribute name="Dtz" type="DtzEnum" />
    <xs:attribute name="Ddsp" type="DdspEnum" />
    <xs:attribute name="Dmve" type="DmveEnum" />
    <xs:attribute name="Dpacbti" type="DpacbtiEnum" />
    <xs:attribute name="Dsecure" type="DsecureEnum" />
    <xs:attribute name="Dendian" type="DendianEnum" />
    <xs:attribute name="Pname" type="identifierType" />
    <xs:attribute name="Cvendor" type="CvendorFilterType" />
    <xs:attribute name="Cbundle" type="CidPartFilterType" />
    <xs:attribute name="Cclass" type="CidPartFilterType" />
    <xs:attribute name="Cgroup" type="CidPartFilterType" />
    <xs:attribute name="Csub" type="CsubFilterType" />
    <xs:attribute name="Cvariant" type="CidPartFilterType" />
    <xs:attribute name="Cversion" type="ConditionVersionType" />
    <xs:attribute name="Capiversion" type="ConditionVersionType" />
    <xs:attribute name="Bvendor" type="xs:string" />
    <xs:attribute name="Bname" type="xs:string" />
    <xs:attribute name="Brevision" type="xs:string" />
    <xs:attribute name="Hvendor" type="xs:string" />
    <xs:attribute name="Hname" type="xs:string" /> <!-- can contain wildcards ?* in condition -->
    <xs:attribute name="Tcompiler" type="CompilerEnumType" />
    <!-- Toptions can only be used in combination with Tcompiler and the strings are predefined by the specification -->
    <xs:attribute name="Toptions" type="CompilerOptionsEnumType" />
    <xs:attribute name="Toutput" type="CompilerOutputType" />
    <xs:attribute name="condition" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ConditionType">
    <xs:sequence>
      <xs:element name="description" type="stringType" minOccurs="0" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="accept" type="FilterType" />
        <xs:element name="require" type="FilterType" />
        <xs:element name="deny" type="FilterType" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>

  <!-- ==================================================== -->
  <!-- The top level element of a description is the device -->
  <!-- ==================================================== -->
  <xs:element name="device" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <!-- V1.1: Vendor Name -->
        <xs:element name="vendor" type="stringType" minOccurs="0"/>
        <!-- V1.1: Vendor ID - a short name for referring to the vendor (e.g. Texas Instruments = TI) -->
        <xs:element name="vendorID" type="identifierType" minOccurs="0"/>
        <!-- name specifies the device name being described -->
        <xs:element name="name" type="identifierType"/>
        <!-- V1.1: series specifies the device series or family name -->
        <xs:element name="series" type="stringType" minOccurs="0"/>
        <!-- version specifies the version of the device description -->
        <xs:element name="version" type="stringType"/>
        <!-- description is a string describing the device features (e.g. memory size, peripherals, etc.) -->
        <xs:element name="description" type="stringType"/>
        <!-- V1.1: licenseText specifies the file header section to be included in any derived file -->
        <xs:element name="licenseText" type="stringType" minOccurs="0"/>
        <!-- V1.1: cpu specifies the details of the processor included in the device -->
        <xs:element name="cpu" type="cpuType" minOccurs="0"/>
        <!-- V1.1: the tag specifies the filename without extension of the CMSIS System Device include file.
             This tag is used by the header file generator for customizing the include statement referencing the
             CMSIS system file within the CMSIS device header file. By default the filename is "system_<device.name>"
             In cases a device series shares a single system header file, the name of the series shall be used
             instead of the individual device name. -->
        <xs:element name="headerSystemFilename" type="identifierType" minOccurs="0"/>
        <!-- V1.1: headerDefinitionPrefix specifies the string being prepended to all names of types defined in
             generated device header file -->
        <xs:element name="headerDefinitionsPrefix" type="identifierType" minOccurs="0"/>
        <!-- addressUnitBits specifies the size of the minimal addressable unit in bits -->
        <xs:element name="addressUnitBits" type="scaledNonNegativeInteger"/>
        <!-- width specifies the number of bits for the maximum single transfer size allowed by the bus interface.
             This sets the maximum size of a single register that can be defined for an address space -->
        <xs:element name="width" type="scaledNonNegativeInteger"/>
        <!-- registerPropertiesGroup elements specify the default values for register size, access permission and
             reset value -->
        <xs:group ref="registerPropertiesGroup" minOccurs="0"/>

        <!-- conditions section contains all condition entries used by any component of the package -->
        <xs:element name="conditions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="condition" type="ConditionType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- peripherals is containing all peripherals -->
        <xs:element name="peripherals">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="peripheral" type="peripheralType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Vendor Extensions: this section captures custom extensions. This section will be ignored by default -->
        <xs:element name="vendorExtensions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded">
              </xs:any>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

<!-- END OF FILE -->
