schema/CMSIS-SVD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2013-2022 ARM Limited. All rights reserved.

  SPDX-License-Identifier: Apache-2.0

  Licensed under the Apache License, Version 2.0 (the License); you may
  not use this file except in compliance with the License.
  You may obtain a copy of the License at

  www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an AS IS BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  $Date:         17. April 2024
  $Revision:     2.0.0

  Version 2.0.0:
  - extract peripheral schema from CMSIS-SVD.xsd to CMSIS-PSVD.xsd

  Version 1.3.10:
  - add CM52 as enumerated value for cpuNameType.

  Version 1.3.9:
  - add CM85 as enumerated value for cpuNameType.

  Version 1.3.8:
  - add SMC1 as enumerated value for cpuNameType.

  Version 1.3.7:
  - add CM55 as enumerated value for cpuNameType.

  Version 1.3.6:
  - add ARMV81MML as enumeration value for cpuNameType.

  Version 1.3.5:
  - add CM35P as enumeration value for cpuNameType.

  Version 1.3.4:
  - add dspPresent element to cpuType as SIMD instructions became optional for new processors.

  Version 1.3.3:
  - update file header to Apache 2.0 License
  - add dimableIdentifierType, as a copy of previous identifierType adding "%s",
  - update identifierType to only allow names without %s included.
  - remove enumerationNameType.
  - add headerEnumName to enumerationType and to dimArrayIndexType for peripheral arrays
    overwriting hierarchically generated names
  - add dimName to dimElementGroup. Only valid in <cluster> context, ignored otherwise.

  Version 1.3.2:
  adding dimIndexArray to peripheral-, cluster- and register-array to describe
  enumeration of array indices.

  Version 1.3.1:
  fixed peripheral name element type to identifierType to support %s for peripheral arrays
  added optional protection element to addressBlockType and added p=privileged

  Version 1.3:
  added dim to peripherals to describe an array of peripherals.
  added nesting of clusters to support hierarchical register structures.
  added protection element as part of the registerPropertiesGroup indicating
  special permissions are required for accessing a register.
  CPU Section extended with description of the Secure Attribution Unit.

  Version 1.2:
  Cortex-M7 support items have been added as optional tags for the device header file generation:
  fpuDP, icachePresent, dcachePresent, itcmPresent, dtcmPresent

  Version 1.1:
  For backward compatibility all additional tags have been made optional.
  Extensions may be mandatory for successful device header file generation
  Other changes are related to some restructuring of the schema.

  Note that the memory section has been removed since this would limit the
  reuse of descriptions for a series of devices.
 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="2.0">

  <xs:include schemaLocation="CMSIS-PSVD.xsd"/>

  <xs:simpleType name="descriptionStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]*" />
    </xs:restriction>
  </xs:simpleType>

  <!-- cpuType specifies a selection of Cortex-M and Secure-Cores. This list will get extended as new processors are released -->
  <xs:simpleType name="cpuNameType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CM0"/>
      <xs:enumeration value="CM0PLUS"/>
      <xs:enumeration value="CM0+"/>
      <xs:enumeration value="CM1"/>
      <xs:enumeration value="CM3"/>
      <xs:enumeration value="CM4"/>
      <xs:enumeration value="CM7"/>
      <xs:enumeration value="CM23"/>
      <xs:enumeration value="CM33"/>
      <xs:enumeration value="CM35P"/>
      <xs:enumeration value="CM52"/>
      <xs:enumeration value="CM55"/>
      <xs:enumeration value="CM85"/>
      <xs:enumeration value="SC000"/>
      <xs:enumeration value="SC300"/>
      <xs:enumeration value="ARMV8MML"/>
      <xs:enumeration value="ARMV8MBL"/>
      <xs:enumeration value="ARMV81MML"/>
      <xs:enumeration value="CA5"/>
      <xs:enumeration value="CA7"/>
      <xs:enumeration value="CA8"/>
      <xs:enumeration value="CA9"/>
      <xs:enumeration value="CA15"/>
      <xs:enumeration value="CA17"/>
      <xs:enumeration value="CA53"/>
      <xs:enumeration value="CA57"/>
      <xs:enumeration value="CA72"/>
      <xs:enumeration value="SMC1"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- revisionType specifies the CPU revision format as defined by ARM (rNpM) -->
  <xs:simpleType name="revisionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="r[0-9]*p[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- EndianType pre-defines the tokens for specifying the endianess of the device -->
  <xs:simpleType name="endianType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="little"/>
      <xs:enumeration value="big"/>
      <xs:enumeration value="selectable"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- V1.3: SAU Access Type -->
  <xs:simpleType name="sauAccessType">
    <xs:restriction base="xs:string">
      <!-- c = non-secure Callable / Secure -->
      <!-- n = Non-secure                   -->
      <xs:pattern value="[cn]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cpuType">
    <xs:sequence>
      <!-- V1.1: ARM processor name: Cortex-Mx / SCxxx -->
      <xs:element name="name" type="cpuNameType"/>
      <!-- V1.1: ARM defined revision of the cpu -->
      <xs:element name="revision" type="revisionType"/>
      <!-- V1.1: Endian specifies the endianess of the processor/device -->
      <xs:element name="endian" type="endianType"/>
      <!-- V1.1: mpuPresent specifies whether or not a memory protection unit is physically present -->
      <xs:element name="mpuPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.1: fpuPresent specifies whether or not a floating point hardware unit is physically present -->
      <xs:element name="fpuPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: fpuDP specifies a double precision floating point hardware unit is physically present-->
      <xs:element name="fpuDP" type="xs:boolean" minOccurs="0"/>
      <!-- V1.3: dspPresent specifies whether the optional SIMD instructions are supported by processor -->
      <xs:element name="dspPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: icachePresent specifies that an instruction cache is physically present-->
      <xs:element name="icachePresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: dcachePresent specifies that a data cache is physically present-->
      <xs:element name="dcachePresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: itcmPresent specifies that an instruction tightly coupled memory is physically present-->
      <xs:element name="itcmPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.2: dtcmPresent specifies that an data tightly coupled memory is physically present-->
      <xs:element name="dtcmPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.1: vtorPresent is used for Cortex-M0+ based devices only. It indicates whether the Vector -->
      <!--       Table Offset Register is implemented in the device or not                              -->
      <xs:element name="vtorPresent" type="xs:boolean" minOccurs="0"/>
      <!-- V1.1: nvicPrioBits specifies the number of bits used by the Nested Vectored Interrupt Controller -->
      <!--       for defining the priority level = # priority levels                                        -->
      <xs:element name="nvicPrioBits" type="scaledNonNegativeInteger"/>
      <!-- V1.1: vendorSystickConfig is set true if a custom system timer is implemented in the device -->
      <!--       instead of the ARM specified SysTickTimer                                             -->
      <xs:element name="vendorSystickConfig" type="xs:boolean"/>
      <!-- V1.3: reports the total number of interrupts implemented by the device (optional) -->
      <xs:element name="deviceNumInterrupts" type="scaledNonNegativeInteger" minOccurs="0"/>
      <!-- V1.3: sauRegions specifies the available number of address regions -->
      <!--       if not specified a value of zero is assumed                  -->
      <xs:element name="sauNumRegions" type="scaledNonNegativeInteger" minOccurs="0"/>
      <!-- V1.3: SAU Regions Configuration (if fully or partially predefined) -->
      <xs:element name="sauRegionsConfig" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="region" minOccurs="0" maxOccurs="unbounded">
              <!-- addressBlockType specifies the elements to describe an address block -->
              <xs:complexType>
                <xs:sequence minOccurs="1"   maxOccurs="unbounded">
                  <xs:element name="base"    type="scaledNonNegativeInteger"/>
                  <xs:element name="limit"   type="scaledNonNegativeInteger"/>
                  <xs:element name="access"  type="sauAccessType"/>
                </xs:sequence>
                <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="name"    type="xs:string"  use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
          <xs:attribute name="protectionWhenDisabled" type="protectionStringType" use="optional" default="s"/>
        </xs:complexType>
      </xs:element>
     </xs:sequence>
  </xs:complexType>

  <!-- ==================================================== -->
  <!-- The top level element of a description is the device -->
  <!-- ==================================================== -->
  <xs:element name="device" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <!-- V1.1: Vendor Name -->
        <xs:element name="vendor" type="stringType" minOccurs="0"/>
        <!-- V1.1: Vendor ID - a short name for referring to the vendor (e.g. Texas Instruments = TI) -->
        <xs:element name="vendorID" type="identifierType" minOccurs="0"/>
        <!-- name specifies the device name being described -->
        <xs:element name="name" type="identifierType"/>
        <!-- V1.1: series specifies the device series or family name -->
        <xs:element name="series" type="stringType" minOccurs="0"/>
        <!-- version specifies the version of the device description -->
        <xs:element name="version" type="stringType"/>
        <!-- description is a string describing the device features (e.g. memory size, peripherals, etc.) -->
        <xs:element name="description" type="stringType"/>
        <!-- V1.1: licenseText specifies the file header section to be included in any derived file -->
        <xs:element name="licenseText" type="stringType" minOccurs="0"/>
        <!-- V1.1: cpu specifies the details of the processor included in the device -->
        <xs:element name="cpu" type="cpuType" minOccurs="0"/>
        <!-- V1.1: the tag specifies the filename without extension of the CMSIS System Device include file.
             This tag is used by the header file generator for customizing the include statement referencing the
             CMSIS system file within the CMSIS device header file. By default the filename is "system_<device.name>"
             In cases a device series shares a single system header file, the name of the series shall be used
             instead of the individual device name. -->
        <xs:element name="headerSystemFilename" type="identifierType" minOccurs="0"/>
        <!-- V1.1: headerDefinitionPrefix specifies the string being prepended to all names of types defined in
             generated device header file -->
        <xs:element name="headerDefinitionsPrefix" type="identifierType" minOccurs="0"/>
        <!-- addressUnitBits specifies the size of the minimal addressable unit in bits -->
        <xs:element name="addressUnitBits" type="scaledNonNegativeInteger"/>
        <!-- width specifies the number of bits for the maximum single transfer size allowed by the bus interface.
             This sets the maximum size of a single register that can be defined for an address space -->
        <xs:element name="width" type="scaledNonNegativeInteger"/>
        <!-- registerPropertiesGroup elements specify the default values for register size, access permission and
             reset value -->
        <xs:group ref="registerPropertiesGroup" minOccurs="0"/>

        <!-- peripherals is containing all peripherals -->
        <xs:element name="peripherals">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="peripheral" type="peripheralType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Vendor Extensions: this section captures custom extensions. This section will be ignored by default -->
        <xs:element name="vendorExtensions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded">
              </xs:any>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

<!-- END OF FILE -->
